SOAMDS/src/apps/CSF/services/tracking/wsdl/TrackingWebservice.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="TrackingServiceBPEL" targetNamespace="http://xmlns.oracle.com/TrackingEventHandlerSubscriberComposite_jws/TrackingEventHandlerSubscriberComposite/TrackingServiceBPEL" xmlns:ns1="http://xmlns.oracle.com/TrackingDetails" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:client="http://xmlns.oracle.com/TrackingEventHandlerSubscriberComposite_jws/TrackingEventHandlerSubscriberComposite/TrackingServiceBPEL" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<plnk:partnerLinkType name="TrackingServiceBPEL">
<plnk:role name="TrackingServiceBPELProvider">
<plnk:portType name="client:TrackingServiceBPEL"/>
</plnk:role>
<plnk:role name="TrackingServiceBPELReply">
<plnk:portType name="client:TrackingServiceBPELCallBack"/>
</plnk:role>
</plnk:partnerLinkType>
<wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
<import namespace="http://xmlns.oracle.com/TrackingDetails" schemaLocation="oramds:/apps/CSF/services/tracking/xsd/TrackingDetails.xsd"/>
</schema>
</wsdl:types>
<wsdl:message name="TrackingServiceBPELRequestMessage">
<wsdl:part name="payload" element="ns1:trackMessage"/>
</wsdl:message>
<wsdl:portType name="TrackingServiceBPEL">
<wsdl:operation name="tracking">
<wsdl:input message="client:TrackingServiceBPELRequestMessage"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="TrackingServiceBPELCallBack">
<wsdl:operation name="trackingCallBack">
<wsdl:input message="client:TrackingServiceBPELRequestMessage"/>
</wsdl:operation>
</wsdl:portType>
</wsdl:definitions>
